# =========================
# Jekyll build files
# =========================
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# =========================
# Ruby / Bundler
# =========================
.bundle/
vendor/
Gemfile.lock

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.swp